html {
  text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font: 16px / 1 sans-serif;
  background-color: dimgray;
}

.colorsquare{
  flex-wrap: wrap;
  background-color: hsla(130, 50%, 50%, .5);
  width: 200px;
  height: 200px;
  border-radius: 1em;
  background-image: url();

}

h1 {
font-family: 'Open Sans';
color: #fff;
text-align: center;
padding-top: 2em;
}

.scale {
  display: flex;
  justify-content: center;
}

form p{
  text-align: center;
  padding-top: 4em;
  font-family: 'Muli';
}
